<ion-view view-title="O nama">
  <ion-content class="AppBackground">
      <div class="row">
    <h1>Informatika Fortuno</h1>
      </div>
    <div class="row">
    	 <div class="col">
    <div class="card">
  <div class="item item-text-wrap">
    Mi smo tim koji uspješno djeluje od 1996. godine. Sinergijsko djelovanje ovog tima rezultiralo je osnivanjem tvrtke Informatike Fortuno d.o.o. 2007. godine. Godinama smo obogaćivali svoj kadar iz više razloga. Zbog povećane potražnje za našim uslugama i širenja poslovanja na području marketinga, Fortuno tim sada je brojniji i čine ga ljudi različitih profila.
  </div>
</div>
    </div>
    </div>
  </ion-content>
</ion-view>
