<ion-view view-title="Početna" class="bar-dark">
  <ion-content class="AppBackground centar">
   
    <div class="card">
  <div class="item item-text-wrap">
    Dobrodošao, {{username}}! 
  </div>
</div>
      
    <div class="row responsive-sm">
    <div class="col"><a class="button button-full icon icon-left ion-compose gBtn" href="#/app/novavoznja" style="background: url('img/road.jpg');">Nova vožnja</a></div>
    </div>


    <div class="row">
    <div class="col col-50">
   <a class="button icon-top" href="#/app/tocenjegoriva"><i class='icon ion-ios-speedometer'></i><span>Točenje goriva</span></a>
    </div>
    <div class="col col-50">
   <a class="button icon-top" href="#/app/dostupnavozila"><i class='icon ion-model-s'></i><span>Dostupna vozila</span></a>
    </div>
   </div>

   <div class="row responsive-sm">
       <div class="col-30 col-offset-20">
        <a href="#/app/onama">
        <i class="ion-ios-information-outline InfoPocetna"></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>