<ion-view view-title="Točenje goriva">
  <ion-content class="AppBackground">
      
  <ion-list>
  <div class="list row item-icon-right">
    <div class="col">
    <label class="item item-input">
      <i class="icon ion-ios-calendar-outline padding-right"></i>
    <span class="input-label">Datum</span>
    <input type="date">
  </label>
  <label class="item item-input">
    <i class="icon ion-calculator padding-right"></i>
    <span class="input-label">Stanje (km)</span>
    <input type="number">
   </label>
   <label class="item item-input">
    <i class="icon ion-paintbucket padding-right"></i>
    <span class="input-label">Litara</span>
    <input type="number">
   </label>
    <label class="item item-input">
      <i class="icon ion-card padding-right"></i>
    <span class="input-label">Iznos (HRK)</span>
    <input type="number">
   </label>
   <label class="item item-input">
             <span class="input-label">Račun</span><input type="file">
       </label>
  </div>
  </div>
  <ion-list>
 
      <div class="row">
      <div class="col text-center">
      <a href="#" class="button gBtnS">Spremi</a>
      </div>
      </div>

  </ion-content>
</ion-view>
